# Course Content
* Database Introduction
* Using Databases
* Single Table CRUD

# Lec01: Database Introduction

* At first, people stored the information in tape

Info from wiki: tape drive  
*A tape drive is a data storage device that reads and writes data on a magnetic tape. 
Magnetic tape data storage is typically used for offline, archival data storage. 
Tape media generally has a favorable unit cost and a long archival stability.*

* As the computer have more memory, we do not need to read from a-z just to get to the data we want.
    * the problem of random storage and access
    * more companies started to form to deal with databases

* Relational Databases
    * Relational databases model data by storing rows and columns in tables.
    * The power of the relational database lies in 
        * its ability to efficiently retrieve data from those tables and 
        * in particular where there are multiple tables and the relationships between those tables involved in the query
        * More info about relational database
    * http://computer.howstuffworks.com/question599.htm

* Terminology  

| Terms                            | Explanation                                                                              |
|----------------------------------|------------------------------------------------------------------------------------------|
| Database                         | contains many tables                                                                     |
| Relation (or table)              | contains tuples and attributes                                                           |
| Tuple (or row)                   | a set of fields that generally represents and "object" like a person or a music track    |
| Attribute (also column or field) | one of possibly many elements of data corresponding to the object represented by the row |

**Note: table, row, and column is not a good way if you want to look the mathematics below the database**

* SQL
    * **Structured Query Language** is the language we use to issue commands to the database
    * create a table
    * Retrieve some data
    * Insert data
    * Delete data

**Note: Python is good at handling dirty data. SQL, on the other hand, deal with structured data. So the workflow is you can use python to clean up the data and store/retrieve information into/from database.**

# Lec02: Using Databases

* Two Roles in Large Projects

    * **Application Developer**
        * Builds the logic for the application
        * the look and feel of the application
        * monitors the application for problems
    
    
    * **Database Administrator**
        * Monitors and adjusts the database as the program runs in production
    
    
    * Often both people participate in the building of the "Data model"

* Database Model

A database mdoel or database schema is teh structure or format of a databse, described in a formal language supported by the database management system.

In other words, a "database model" is the appplication of a data model when used in confunction with a database management system

* Common Database System
    * Oracle
        * Large, commercial, enterprise-scale, very very tweakable
    * MySql
        * Simpler but very fast and scalable
        * commercial open source
        * mariadb is the open source version of MySql
            * for more information
            * http://www.openfoundry.org/tw/news/8974
    * SqlServer
        * Very nice - from Microsoft (also Access)
    * Many other smaller projects, free and open source
        * HSQL, SQLite, Postgress, ...
        * SQLite
            * is the one we will use in the course
            * embedded database
            * fast, aim at smaller amount of data

# Lec03: Single Table CRUD

* SQLite Browser
    * SQLite is a very popular database - it is free and fast and small
    * SQLite Browser allows us to directly minipulate SQLite files
    * There is also a Fireforx plugin to manipulate SQLite database
    * SQLite is embedded in Python and a number of other languages

* SQL Create table

CREATE TABLE Users (
    name VARCHAR(128),
    email VARCHAR(128)
)

* SQL Insert
    * The Insert statement inserts a row into a table

INSERT INTO Users (name, email) VALUES ('Kristin', 'kf@umich.edu')

* SQL Delete
    * Deletes a row in a table based on a selection criteria

DELETE FROM Users WHERE email='ted@umich.edu'

* SQL Update
    * Allows the updating of a field with a where clause

UPDATE Users SET name='Charles' WHERE email='csev@ntu.edu.tw'

* Retrieving Records: Select

SELECT * FROM Users
SELECT * FROM Users WHERE email='csev@ntu.edu.tw'

* Sorting with ORDER BY
    * you can add an ORDER BY clause to SELECT statements to get the results sorted in ascending or descending order

SELECT * FROM Users ORDER BY email
SELECT * FROM Users ORDER BY name

* Count the rows in the table

# Lec04: Email Database Demo

In [1]:
import sqlite3

In [14]:
conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

In [15]:
# create the table Counts
cur.execute('''DROP TABLE IF EXISTS Counts''')
cur.execute('''CREATE TABLE Counts (email TEXT, count INTEGER)''')

In [12]:
# read the file name
fname = input('Enter file name: ')
if (len(fname) < 1 ) : fname = 'mbox-short.txt'

Enter file name: mbox.txt

In [16]:
# open the file
fh = open(fname)

# foreach line in file
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email = pieces[1]
    
    # 1st param: ? is the place holder, 
    # 2nd param: TUPLE
    cur.execute('SELECT count FROM Counts WHERE email = ? ', (email, )) 
    try:
        count = cur.fetchone()[0]
        cur.execute('UPDATE Counts SET count=count+1 WHERE email = ?', (email, ))
    except:
        cur.execute('''INSERT INTO Counts (email, count) VALUES ( ?, 1 )''', (email, ))

In [17]:
conn.commit()

In [18]:
# https:///www.sqlite.org/lang_select.html
sqlstr = 'SELECT email, count FROM Counts ORDER BY count DESC LIMIT 10'
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

In [19]:
cur.close()

## Assignment

In [30]:
# connect to the database
conn = sqlite3.connect('sql03.sqlite')
cur = conn.cursor()

# create the table Counts
cur.execute('''DROP TABLE IF EXISTS Counts''')
cur.execute('''CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [35]:
tempt

In [36]:
# open the file
fh = open("mbox.txt")

# foreach line in file
for line in fh:
    if not line.startswith('From: ') : continue
    pieces = line.split()
    email  = pieces[1]
    org    = email.split('@')[1]
    
    # 1st param: ? is the place holder, 
    # 2nd param: TUPLE
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org, )) 
    try:
        count = cur.fetchone()[0]
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', (org, ))
    except:
        cur.execute('''INSERT INTO Counts (org, count) VALUES ( ?, 1 )''', (org, ))

In [37]:
conn.commit()

In [38]:
# https:///www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC LIMIT 10'
for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17

In [ ]:
cur.close()